@charset "UTF-8";
// *----------------------------
//	Header
// ----------------------------*

header{
  border: 1px solid #cccccc;
  height: 80px;
  line-height: 80px;
  
  > ul{
    position: relative;
    display: flex;
    margin: 0 20px;

    .logo{
      width: 100px;
      margin-right: 100px;
    }
    .gnb-menu{
      ul{
        display: flex;

        li{
          margin-right: 20px;
        }
      }
    }

    .utile{
      position: absolute;
      right: 0;
    }
  }
}