// *----------------------------
//	Button
// ----------------------------*

.button-list{
  button{
    padding: 5px 12px;
    border-radius: 5px;
    width: 80px;
    height: 30px;

    font : {
      size: .8rem;
      weight: 400;
    }

    &:hover{
      @include btnHover;
    }
    
    &:first-child{
      background: #134e57;
      color: white;
    }
  }
}