// *----------------------------
//	Input
// ----------------------------*

input[type='text']{
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #cccccc;
  width: 100%;
  box-sizing: border-box;
}