// *----------------------------
//	Table
// ----------------------------*

#defaultTable{
  thead th, tbody td{
    border-right: 1px solid #ededf1;
    border-bottom: 1px solid #ededf1;

    &:first-child{
      border-left: 1px solid #ededf1;
    }
  }
  
  thead{
    th{
      padding: 10px;
      background: #f7f7f9;  
      color:  #4a5661;
    }
  }

  tbody{
    td{
      padding: 8px;
      text-align: center;

      &:hover{
        background: #feffec;
      }
    }
  }
}